.personal-area__data-textarea {
    width: 100%;
    font-size: 16px;
    outline: none;
    background: none;
}

.form__field-wrapper-service {
    display: flex;
}

.input-wrapper__service {
    flex-basis: 45%;
}

.input-wrapper__service:first-child {
    margin-right: 20px;
}

.input-wrapper__service-btn {
    margin-left: auto;
}

.add-service__btn {
    width: 40px;
    background-color: white;
}

.add-service__btn:hover {
    opacity: 0.5;
}

.remove-service__btn {
    width: 28px;
    background-color: white;
    position: relative;
    right: 5px;
    top: 5px;
}

.remove-service__btn:hover {
    opacity: 0.5;
}