.menu-button-container {
    display: flex;
    height: 32px;
    width: 32px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.menu-button-container:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
}

.menu-button,
.menu-button:before,
.menu-button:after {
    display: block;
    background-color: grey;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    cursor: pointer;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}

.personal-area {
    background-color: #FFFFFF;
    padding: 20px;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}

.personal-area__profile {

}

.personal-area__profile-row {
    display: flex;
    align-items: center;
}

.personal-area__avatar-wrapper {
    margin-right: 22px;
}

.personal-area__title {
    font-size: 16px;
    color: #111111;
    white-space: nowrap;
    margin-bottom: 2px;
}

.personal-area__subtitle {
    color: #4e4e4e;
    font-size: 14px;
}

.personal-area__item-container {
    margin: 30px 0;
}

.personal-area__record-title {
    margin-bottom: 4px;
}

.personal-area__record-list {
    padding: 10px 0;
}

.personal-area__record-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(280px, 350px));
}

.doctor-card__min {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 8px;
    border-radius: 6px;
    position: relative;
}

.doctor-card__img-wrapper {
    width: 80px;
    margin-right: 8px;
}

.doctor-card__date {
    margin-bottom: 2px;
}

.doctor-card__name {
    color: #111111;
    margin-bottom: 2px;
}

.doctor-card__left-side {
    margin-right: 10px;
}

.personal-area__review-title {
    margin-top: 8px;
    margin-bottom: 15px;
}

.personal-area__btn-review-wrapper button {
    font-size: 16px;
    width: 100%;
    height: 40px;
    outline: none;
}

.personal-area__exit-wrapper {
    display: flex;
    border-bottom: 1px solid #DCDCDC;
    padding: 10px;
    transition: 0.2s ease-in-out;
}

.personal-area__exit-wrapper:hover {
    opacity: 0.3;
}

.personal-area__exit-icon-wrapper {
    margin-right: 20px;
}

.personal-area__exit-title {
    color: #111111;
}

.personal-area__personal-data {
    margin: 28px 0;
}

.personal-area__data-row {
    display: flex;
    width: 100%;
    padding: 15px 5px;
}

.personal-area__data-row:hover {
    background-color: rgba(220, 220, 220, 0.62);
}

.personal-area__data-icon {
    margin-right: 32px;
}

.personal-area__data-content {
    width: 100%;
}

.personal-area__data-content input {
    width: 100%;
    font-size: 16px;
    outline: none;
    background: none;
}

.personal-area__action-wrapper {
    display: flex;
}

.personal-area__btn-edit {
    margin-right: 15px;
}
