body,
html {
    height: 100%;
    /*font-size: 62.5%;*/
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #161517;
}

body {
    background-color: #f5f5f5;
}

.b-button-red {
    background-color: #ec2327;
    color: #FFFFFF;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    -o-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.b-button-red:hover,
.b-button-red:focus {
    background-color: #ce2326;
    color: #FFFFFF;
}

.b-button-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 6px;
    background-color: rgb(0, 112, 192);
    border-color: rgb(0, 112, 192);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.b-button-blue:hover,
.b-button-blue:focus {
    opacity: 0.6;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
}

.min-container {
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    padding: 10px;
}

.header-wrapper {
    background-color: #ffffff;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__row-min {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__location {
    font-size: 16px;
    line-height: 155%;
    color: #0070c0;
    transition: 0.2s ease;
    cursor: pointer;
}

.header__location:hover,
.header__location:focus {
    opacity: 0.6;
}

.header__logo {
    transition: 0.2s ease;
    padding: 5px;
    width: 180px;
    cursor: pointer;
}

.header__logo:hover,
.header__logo:focus {
    opacity: 0.6;
}

.header__logo img {
    width: 100%;
}

.header__location::before {
    content: url("../images/location.svg");
    position: relative;
    top: 3px;
    margin-right: 2px;
}

.user-nav__item {
    position: relative;
}

.main-wrapper {
    flex: 1 1 auto;
}

.button {
    height: 28px;
    padding: 0 12px;
    line-height: 166%;
    background-color: #e5f2f9;
    color: #0070c0;
    border-radius: 6px;
    transition: 0.2s ease;
    cursor: pointer;
}

.button:hover,
.button:focus {
    opacity: 0.6;
}

.button-blue {
    background-color: #0070c0;
    color: #fff;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    -o-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.form-popup {
    display: none;
    position: absolute;
    left: -210px;
    z-index: 99;
    border-radius: 6px;
    box-shadow: 0 8px 10px rgba(0,0,0,.07), 0 2px 14px rgba(0,0,0,.06), 0 4px 5px rgba(0,0,0,.1);
}

.form-container {
    max-width: 300px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.choose-login {
    display: flex;
    flex-direction: column;
}

.choose-login + .choose-login {
    margin-top: 20px;
    border-top: 1px solid #d8d8d8;
    padding: 15px 0;
}

.title {
    margin-bottom: 10px;
    color: #111;
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0;
}

.big-title {
    font-size: 20px;
    color: #111;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: 0;
}

.secondary-text {
    color: #4e4e4e;
    font-size: 14px;
}

.text-grey {
    color: #4E4E4E;
}

.subtitle {
    margin-bottom: 15px;
    color: #4e4e4e;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: .004em;
    font-weight: 400;
}

.search-wrapper {
    background-color: #ffffff;
}

.search {
    padding: 10px 10px 20px;
}

.search__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.search__input-wrapper {
    padding: 5px;
    isolation: isolate;
    background: #FFFFFF;
    width: 100%;
    border: 1px solid #757575;
    border-radius: 4px;
    margin-right: 16px;
}

.search__input {
    font: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #757575;
    width: 100%;
    outline: none;
    padding: 10px;
}

.search__button {
    font: inherit;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.intro-stat__wrapper {
    background-color: #FFFFFF;
}

.intro-stat {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    padding: 20px 40px;
    gap: 35px;
}

.intro-stat__item {
    display: flex;
    justify-content: space-evenly;
}

.intro-stat__img {
    width: 35px;
    height: 35px;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-review {
    background-image: url("../images/review.svg");
}

.background-clinic {
    background-image: url("../images/clinic.svg");
}

.background-doctors {
    background-image: url("../images/doctor.svg");
}

.background-record {
    background-image: url("../images/record.svg");
}

.intro-stat__title {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #181D21;
}

.intro-stat__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4E4E4E;
}

.card-info__wrapper {
    padding: 50px 10px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 20px;
}

.card-info {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 15px 20px rgba(151, 158, 167, 0.1);
    border-radius: 5px;
}

.card-info__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-info__header .card-info__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #181D21;
}

.card-info__header .card-info__number {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #4E4E4E;
}

.card-info__number {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #4E4E4E;
}

.card-info__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #5A5C61;
}

.card-info__main-row {
    display: flex;
    justify-content: space-between;
}

.card-info__main-row + .card-info__main-row {
    margin-top: 15px;
}

.card-info__main {
    border-top: 1px solid #DCDCDC;
    padding: 17px 0;
}

.card-info__button {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    height: 40px;
}

.card-info__footer {
    margin-top: auto;
}

.footer-logo {
    transition: 0.2s ease;
    padding: 5px;
    width: 180px;
    cursor: pointer;
}

.footer-wrapper {
    background-color: white;
    padding: 25px 0;
}

.footer-logo img {
    width: 100%;
}

.footer-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
}

.text_subtitle-1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0;
}

.text_subtitle-2 {
    color: #4e4e4e;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
}

.accordion {
    background-color: #eee;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;
}

.accordion:after {
    content: '';
    margin-left: 5px;
    position: absolute;
    color: #777;
    font-size: 21px;
    right: 24px;
    top: 44px;
    background: url("../images/icon-arrow.svg") no-repeat;
    background-size: cover;
    width: 19px;
    height: 10px;
}

.active.accordion:after {
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.accordion:hover:after {
    transition: 0.3s ease-in-out;
    scale: 1.1;
}

.panel {
    padding: 0 24px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.card-doctor__favorite-wrapper {
    position: absolute;
    top: 3px;
    right: 0;
    height: 40px;
    width: 40px;
    background: #FFFFFF;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 1px 8px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-doctor__favorite-icon {
    width: 16px;
    height: 16px;
    transition: 0.3s ease;
}

.card-doctor__favorite-icon:before {
    content: url("../images/icon-heart-white.svg");
}

.card-doctor__favorite-wrapper.active .card-doctor__favorite-icon:before {
    content: url("../images/icon-heart-red.svg");
}

.card-doctor__favorite-wrapper:hover .card-doctor__favorite-icon:before {
    content: url("../images/icon-heart-red.svg");
}

button:disabled {
    opacity: 0.4;
}

button:disabled:hover {
    opacity: 0.4;
}

#app {
    height: 100%;
    width: 100%;
}
